<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Amazon Comparator</title>
    </head>
    <body>
        <div class="head"><h3>Amazon Price Comparison</h3></div>
        <div class="form">
            <form method="POST">
            <input type="text" placeholder="Item name" name="name"></textarea>
            <button type="submit">Search</button>
            </form>
            <form method="GET" action="/history">
                <button type="submit">View Search History</button>
            </form>
        </div>
    </body>
</html>